/*Font*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Poppins:wght@200;300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*
.offering {
  background: linear-gradient(
      270deg,
      rgba(27, 79, 157, 0.4) 0%,
      rgba(28, 28, 27, 0.2) 52.08%,
      rgba(28, 28, 27, 0.4) 100%
    ),
    #1b4f9d;
  height: 610px;
  font-family: "Poppins";
  color: #ffffff;
  font-size: 40px;
  line-height: 50px;
  font-style: normal;
}

.offering h1 {
  font-weight: 200;
}

.inicial {
  position: absolute;
  width: 702px;
  height: 68px;
  left: 101px;
  top: 142px;
  font-weight: 200;
  font-size: 40px;
  line-height: 60px;
}

#diseno {
  position: static;
  left: 1.71%;
  right: 1.71%;
  top: 11.36%;
  bottom: 11.36%;
  font-weight: 500;
  font-size: 45px;
  line-height: 67px;
}

.ux {
  text-align: right;
  color: #ffffff;
  position: absolute;
  top: 320px;
  right: 103px;
  font-family: "Poppins";
}

#text1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 157.19%;
  width: 640px;
  height: 190px;
  position: relative;
  top: 26px;
  
}

.article-white {
  display: flex;
  position: relative;
  }

p {
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0.015em;
}

.ux > h2 {
  padding-right: 10px;
}

.ux-content p {
  width: 404px;
  line-height: 33, 6px;
  text-align: right;
  color: black;
 }

.ux-content {
  font-weight: 300;
  font-size: 40px;
  line-height: 60px;
  flex:1;
   }

#ux-content-right{
   position: relative;
    right: 150px;
    top:70px;
    text-align: right;
    color: #1b4f9d;
  }

#down{
position: relative;
top: 120px;
font-size:20px;
}

.ux-product {
  margin-top: 12%;
  margin-left: 11%;
  margin-right: 2%;
  flex: 1;
}

.ux-product p {
  width: 404px;
  line-height: 33, 6px;
 }

.right-image {
  background-image: url(/assets/imagen1.jpg);
  background-size: cover;
  width: 300px;
  flex: 1;
  position: relative;
  background-position-x: 11%;
  height: 653px;
}

.article-blue {
  background-image: url(/assets/imagen1.jpg);
  display: flex;
  flex-direction: row-reverse;
  flex:1;
}  

  /*PONER */

.left-image {
  margin-top: 12%;
  margin-left: 11%;
  margin-right: 2%;
  flex: 1;
}

.title-art {
  color: #1b4f9d;
  margin-bottom: 20px;
}

/*REVISAR DOBLE UX*/

/*
.title-content {
  margin-top: 22%;
  margin-left: 14%;
  margin-right: 11%;
  flex: 1;
  ACOMODAR TEXTO*/

/* FLEXBOX
.parent{
display: flex;
justify-content: center;

}

.child1{
background: violet;
height: 200px;
flex:auto;
}

.child2{
background: yellowgreen;
height: 200px;
flex: auto;
}
*/

/*320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.*/

/*
@media screen {

  
}

*/

.first {
  background: linear-gradient(
      270deg,
      rgba(27, 79, 157, 0.4) 0%,
      rgba(28, 28, 27, 0.2) 52.08%,
      rgba(28, 28, 27, 0.4) 100%
    ),
    #1b4f9d;
  height: 768px;
  width: auto;
  color: white;
  font-family: "Poppins";
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.p {
  font-family: "Open Sans";
}

.second {
}
