/*Font*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Poppins:wght@200;300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* FLEXBOX
.parent{
display: flex;
justify-content: center;

}

.child1{
background: violet;
height: 200px;
flex:auto;
}

.child2{
background: yellowgreen;
height: 200px;
flex: auto;
}
*/

/*320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.*/

/*
@media screen {

  
}

*/

.first {
  background: linear-gradient(
      270deg,
      rgba(27, 79, 157, 0.4) 0%,
      rgba(28, 28, 27, 0.2) 52.08%,
      rgba(28, 28, 27, 0.4) 100%
    ),
    #1b4f9d;
  height: 768px;
  width: auto;
  color: white;
  font-family: "Poppins";
  font-style: normal;
}

h1 {
  font-style: normal;
  font-weight: 200;
  font-size: 35px;
  line-height: 40px;
}

h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 43px;
  line-height: 67px;
}

h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 37px;
  line-height: 60px;
  color: #1b4f9d;
}

h6 {
  color: #1b4f9d;
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 36px;
  font-style: normal;
  margin-top: 90px;
  margin-bottom: 30px;
}
.left {
  position: absolute;
  text-align: left;
  left: 101px;
  top: 142px;
}
.right {
  text-align: right;
  position: absolute;
  width: 712px;
  right: 101px;
  top: 477px;
  height: auto;
}

p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.015em;
  line-height: 168%;
}

.right p {
  margin-top: 23px;
}

.second {
  height: 700px;
  width: auto;
  color: black;
  font-family: "Poppins";
  font-style: normal;
  position: relative;
  text-align: left;
  display: flex;
}

.section-1-left {
  position: relative;
  left: 145px;
  top: 170px;
  flex: 1;
  margin-right: 7%;
}

.section-1-left h3 {
  width: 368px;
  margin-bottom: 25px;
}
.section-1-left p {
  width: 370px;
}

.section-1-right {
  background-image: url("/assets/imagen1.jpg");
  background-size: cover;
  background-blend-mode: multiply;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-position-x: 8%;
  opacity: 75%;
  height: auto;
  flex: 1;
}

#white-h3 {
  color: white;
}

.third {
  height: 600px;
  color: white;
  font-family: "Poppins";
  font-style: normal;
  position: relative;
  text-align: left;
  display: flex;
  justify-content: center;
  background-color: #1b4f9d;
  flex-direction: row-reverse;
  background: linear-gradient(
      106.78deg,
      rgba(229, 47, 38, 0.3) 27.54%,
      rgba(229, 47, 38, 0) 94.21%
    ),
    #1b4f9d;
}

.section-2-left {
  height: 600px;
  position: relative;
  background-image: url("/assets/imagen2.jpg");
  background-size: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  /*  filter: contrast(85%) brightness(125%);  */
  mix-blend-mode: screen;
  flex: 1;
  opacity: 80%;
}

.section-2-right {
  text-align: right;
  position: relative;
  width: 640px;
  top: 140px;
  height: 400px;
  flex: 1;
  margin-left: -95px;
}

.section-2-right h3 {
  margin-right: 145px;
  margin-bottom: 25px;
}

.section-2-right p {
  width: 360px;
  position: relative;
  left: 220px;
}

.fourth {
  height: 700px;
  display: flex;
  background-color: white;
}

.section-3-left {
  position: relative;
  left: 145px;
  top: 170px;
  flex: 1;
  margin-right: 7%;
  height: fit-content;
}

.section-3-left p {
  width: 400px;
  margin-bottom: 25px;
}

.section-3-right {
  flex: 1;
  background: url("/assets/imagen3.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-position-x: 27%;
}
.fifth {
  height: 300px;
  margin-bottom: 140px;
  margin-top: 150px;
}

.fifth li {
  list-style: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 160.19%;
  text-align: center;
  letter-spacing: 0.015em;
  color: #1b4f9d;
}

.sixth {
  background: linear-gradient(
      270deg,
      rgba(27, 79, 157, 0.4) 0%,
      rgba(28, 28, 27, 0.2) 52.08%,
      rgba(28, 28, 27, 0.4) 100%
    ),
    #1b4f9d;
  height: 768px;
}

.sixth div {
  height: 450px;
  width: auto;
  padding-top: 6%;
  padding-left: 13%;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

.seventh {
  height: 642px;
  width: auto;
  background: linear-gradient(
      106.78deg,
      rgba(229, 47, 38, 0.3) 27.54%,
      rgba(229, 47, 38, 0) 94.21%
    ),
    #1b4f9d;
  margin-top: -1px;
  display: flex;
}

.behance a {
  background-color: white;
  border-radius: 26px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 19px;
  line-height: 36px;
  text-align: center;
  color: #1b4f9d;
  text-decoration: none;
  padding: 11px 29px;
  cursor: pointer;
  padding-left: 35px;
}

.behance a img {
  width: 30px;
  margin-left: 8px;
}

.carousel-item {
  height: 302px;
}

.behance h2 {
  color: white;
  width: 400px;
  font-size: 41px;
  line-height: 72px;
  margin-bottom: 70px;
  font-family: "Poppins";
}

.behance {
  position: relative;
  left: 153px;
  top: 180px;
  flex: 1;
}

.phone {
  background-image: url("assets/pantalla-cidi.png");
  background-size: 467px;
  background-repeat: no-repeat;
  position: relative;
  width: 467px;
  height: 592px;
  right: 135px;
  top: 50px;
}

footer {
  position: relative;
  background-color: white;
  height: 540px;
  display: flex;
  margin-bottom: 0px;
  background-image: url("assets/logo-nombre.png");
  background-repeat: no-repeat;
  background-size: 800px;
  background-position-x: -180px;
  background-position-y: 120px;
}

footer ul {
  font-weight: 400;
  font-family: "Poppins";
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
}

.secciones ul li {
  list-style-type: none;
  margin-left: -28px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  padding-top: 6px;
  padding-bottom: 6px;
}

.logo,
.secciones,
.contacto {
  flex: 1;
}

#ayi-img {
  width: 200px;
  height: auto;
}

.logo {
  width: 400px;
  margin-left: 120px;
  margin-top: 100px;
  margin-right: 100px;
}

.secciones h6 {
  position: relative;
}

.secciones {
  margin-left: -50px;
  margin-right: -38px;
}

.secciones li a {
  text-decoration: none;
  color: black;
}

.secciones,
.contacto {
  height: 300px;
}

.contacto {
  position: relative;
  right: -50px;
}

.contacto ul li {
  list-style-type: none;
  padding-bottom: 6px;
  padding-top: 6px;
  text-align: left;
}
.contacto li i,
.contacto li img {
  margin-left: -30px;
}

.contacto li i {
  font-size: 27px;
}

.seguinos {
  height: 200px;
  position: relative;
  right: 700px;
  bottom: -325px;
}

.seguinos h6 {
  width: 100px;
  margin-bottom: 40px;
  margin-left: 96px;
}

.contacto ul {
  width: 370px;
  margin-left: 20px;
}

.marker {
  position: relative;
  left: -15px;
  bottom: -2px;
}

#phone-icon {
  position: relative;
  top: -2px;
  align-content: center;
}

.socials {
  position: relative;
  bottom: 85px;
  left: 250px;
}

.linkedin img {
  width: 32px;
}

.socials a {
  margin-right: 11px;
}

::-webkit-scrollbar {
  width: 1.2em;
  overflow: hidden;
  margin-block: 0.5em;
}

::-webkit-scrollbar-track {
  border-radius: 100vw;
  background: white;
}

::-webkit-scrollbar-thumb {
  border-radius: 100vw;
  border: 0.2em solid white;
  background: #1b4f9d;
  height: 200px;
}
